// Common
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: $text_font;
    color: $text_color;
}

.container {
    width: 85%;
    margin: auto;
}

.small-container {
    width: 80%;
    margin: auto;
}