.first {
    background-color: $first_section_color;
    .small-container {
        @include display_flex;
        .title-container {
            width: 50%;
            .title {
                width: 80%;
                padding-top: 110px;
                span {
                    color: $button_text_color;
                    font-weight: 600;
                    font-size: 20px;
                }
                h1 {
                    font-size: 50px;
                    padding: 20px 0;
                }
                p {
                    font-size: 20px;
                    padding-bottom: 20px;
                }
                button {
                    @include button;
                    color: white;
                }
            }
        }
        .img {
            width: 50%;
            background-image: url('../img/home-business-hero-global-image.png');
            background-size: contain;
            img {
                width: 80%;
                padding-top: 25px;
            }
        }
    }
}

.second {
    @include padding_section;
    text-align: center;
    .small-container {
        span {
            color: $button_text_color;
            font-weight: 600;
            font-size: 25px;
        }
        p {
            font-size: 33px;
            padding: 35px 0;
            font-weight: 700;
            width: 60%;
            margin: auto;
        }
        button {
            @include button;
            margin-left: 20px;
            a {
                color: white;
                text-decoration: none;
            }
            &:first-child {
                background-color: white;
                border: 2px solid #eeeeee;
                margin-right: 20px;
                a {
                    color: $button_text_color;
                }
            }
        }
    }
}

.third {
    background-color: $third_section_color;
    .small-container {
        @include padding_section;
        text-align: center;
        span {
            color: $button_text_color;
            font-weight: 600;
            font-size: 25px;
        }
        p {
            font-size: 50px;
            padding: 35px 0;
            font-weight: 800;
            width: 60%;
            margin: auto;
        }
        .box-container {
            @include display_flex;
            justify-content: space-between;
            .box {
                width: calc((100% / 3) - 40px);
                border-radius: 5px;
                color: #333333;
                background-color: white;
                box-shadow: 0px 0px 20px -5px grey;
                img {
                    border-radius: 5px 5px 0 0;
                }
                h3 {
                    font-size: 25px;
                    padding-top: 25px;
                }
                p {
                    font-size: 16px;
                    padding: 20px 0;
                    font-weight: 500;
                    width: 80%;
                    line-height: 200%;
                    color: #81695e;
                }
                .end-box {
                    border-top: 1px solid #eeeeee;
                    padding: 15px 0;
                    font-size: 14px;
                    font-weight: 800;
                    a {
                        text-decoration: none;
                        color: $button_text_color;
                        span {
                            font-size: 10px;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
        .circles {
            @include display_flex;
            justify-content: center;
            padding-top: 30px;
            align-items: center;
            .circle {
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background-color: #bcbcbc;
                margin: 5px;
                &:first-child {
                    height: 15px;
                    width: 15px;
                    background-color: #282935;
                }
            }
        }
    }
}

.fourth {
    .container {
        @include padding_section;
        text-align: center;
        span {
            color: $button_text_color;
            font-weight: 600;
            font-size: 25px;
        }
        p {
            font-size: 50px;
            padding: 35px 0;
            font-weight: 800;
            width: 60%;
            margin: auto;
        }
        .box-container {
            @include display_flex;
            justify-content: space-between;
            .box {
                width: calc((100% / 4) - 30px);
                border-radius: 5px;
                color: #333333;
                text-align: left;
                // background-image: url('../img/course-02-443x600.jpg');
                // background-size: cover;
                box-shadow: 0px 0px 20px -5px grey;
                position: relative;
                img {
                    border-radius: 5px;
                }
                h3 {
                    font-size: 23px;
                    color: white;
                }
                span {
                    padding-top: 25px;
                }
                p {
                    font-size: 16px;
                    padding: 20px 0;
                    font-weight: 500;
                    width: 80%;
                    line-height: 200%;
                    color: #81695e;
                }
                .text {
                    height: 60%;
                    padding: 30px;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 0;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
        }
        .end-section {
            color: #6c6c6c;
            font-size: 18px;
            width: 35%;
            font-weight: 500;
            a {
                color: #3b3b3b;
                font-weight: 800;
                padding-bottom: 5px;
                text-decoration: none;
                border-bottom: 1px solid #6c6c6c;
                span {
                    font-size: 15px;
                    padding-left: 5px;
                    color: #3b3b3b;
                }
            }
        }
    }
}

.fifth {
    @include padding_section;
    background-color: #323043;
    background-image: url('../img/background-map-dots-top-right-transparent.png');
    background-repeat: no-repeat;
    background-position: top right;
    .container {
        @include display_flex;
        position: relative;
        .yt-img {
            width: 50%;
            align-self: center;
            display: flex;
            justify-content: center;
            position: relative;
            img {
                width: 80%;
                border-radius: 5px;
            }
            .yt-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .paragraph {
            width: 50%;
            color: white;
            .par-container {
                width: 70%;
                h2 {
                    font-size: 50px;
                }
                ul {
                    padding-top: 20px;
                    li {
                        list-style-type: none;
                        @include display_flex;
                        align-items: baseline;
                        padding: 20px 0;
                        border-bottom: 1px solid #6c6c6c;
                        span {
                            padding-right: 20px;
                            font-size: 20px;
                        }
                        h3 {
                            font-size: 25px;
                        }
                        p {
                            padding-top: 20px;
                            font-size: 16px;
                            font-weight: 600;
                        }
                        &:first-child {
                            span, h3 {
                                color: $button_text_color;
                            }
                        }
                    }
                }
            }
        }
        .pattern {
            position: absolute;
            left: -26px;
            bottom: -97px;
        }
    }
}

.sixth {
    .container {
        @include padding_section;
        text-align: center;
        span {
            color: $button_text_color;
            font-weight: 600;
            font-size: 25px;
        }
        p {
            font-size: 50px;
            padding: 35px 0;
            font-weight: 800;
            width: 60%;
            margin: auto;
        }
        .events-box {
            .events {
                @include display_flex;
                padding: 10px;
                justify-content: space-between;
                .event {
                    width: calc(50% - 20px);
                    background-color: #f8f8f8;
                    text-align: left;
                    @include display_flex;
                    padding: 20px;
                    .info {
                        flex-grow: 1;
                        span {
                            font-size: 14px;
                            color: #7e7e7e;
                            padding: 5px 10px;
                        }
                        h3 {
                            padding: 5px 10px;
                        }
                    }
                    .date {
                        div {
                            text-align: center;
                            font-weight: 600;
                            &:first-child {
                                color: $button_text_color;
                                font-size: 50px;
                            }
                        }
                        button {
                            @include button;
                            width: 150px;
                            padding: 7px 0;
                            a {
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        .end-section {
            color: #6c6c6c;
            font-size: 18px;
            width: 35%;
            font-weight: 500;
            a {
                color: $button_text_color;
                font-weight: 800;
                padding-bottom: 5px;
                text-decoration: none;
                border-bottom: 1px solid #7e7e7e;
                span {
                    font-size: 15px;
                    padding-left: 5px;
                    color: $button_text_color;
                }
            }
        }
    }
}

.seventh {
    @include padding_section;
    text-align: center;
    background-color: #f8f8f8;
    span {
        color: $button_text_color;
        font-weight: 600;
        font-size: 25px;
    }
    p {
        font-size: 50px;
        padding: 35px 0;
        font-weight: 800;
        width: 60%;
        margin: auto;
    }
    .slider {
        @include display_flex;
        justify-content: space-around;
        text-align: left;
        .slider-box {
            width: calc((100% / 3) - 200px);
            padding: 30px;
            background-color: white;
            h3 {
                font-size: 26px;
                line-height: 150%;
            }
            p {
                font-size: 22px;
                color: #7e7e7e;
                margin: 0;
                width: 100%;
                line-height: 150%;
            }
            .end-slider {
                @include display_flex;
                align-items: center;
                .slider-img {
                    width: 90px;
                    img {
                        border-radius: 50%;
                    }
                }
                .slider-text {
                    padding-left: 20px;
                    line-height: 250%;
                    h4 {
                        font-size: 20px;
                    }
                    span {
                        font-size: 17px;
                        color: #7e7e7e;
                    }
                }
            }
        }
    }
    .circles {
        @include display_flex;
        justify-content: center;
        padding-top: 30px;
        align-items: center;
        .circle {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: #bcbcbc;
            margin: 5px;
            &:first-child {
                height: 15px;
                width: 15px;
                background-color: #282935;
            }
        }
    }
}

.eighth {
    @include padding_section;
    text-align: center;
    position: relative;
    h2 {
        font-size: 50px;
        span {
            color: $button_text_color;
        }
    }
    p {
        font-size: 22px;
        color: #6c6c6c;
        font-weight: 600;
        width: 30%;
        margin: auto;
        padding-top: 20px;
    }
    .input {
        @include display_flex;
        justify-content: center;
        padding-top: 30px;
        input {
            background-color: #f8f8f8;
            border: 0;
            width: 22%;
            font-size: 20px;
            padding-left: 15px;
        }
        button {
            @include button;
            width: 150px;
            padding: 15px 0;
            border-radius: 0 5px 5px 0;;
            a {
                font-size: 16px;
                color: white;
                text-decoration: none;
            }
        }
    }
    .maxcoach {
        width: 150px;
        position: absolute;
        right: 650px;
        top: 170px;
    }
    .maxcoach-pattern {
        width: 200px;
        position: absolute;
        right: 650px;
        top: 90px;
    }
}