$text_font: 'Raleway', sans-serif;                 // font testo
$text_color: #343142;                            // colore font
$first_section_color: #eff2f6;                   // colore background prima section
$button_text_color: #20ad96;                     // colore dei button e del testo
$third_section_color: #f8f8f8;                   // colore background terza section